@font-face {
    font-family: vazirmatn;
    src: url("./../fonts/Vazir.ttf");
}
body{
    background-color: rgb(246, 239, 239);
    margin: 0px;
}
/* the header of the page */
.container{
    
    margin: 0px;
    padding-right: 5%;
    background: floralwhite;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100px;
    
}
ul{
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-family: vazirmatn;
    font-weight: 100;
    font-size: 90%;
}
.items{
    list-style: none;
}
.item-link{
    
    color: #000;
    text-decoration: none;

}
/* ner and the first infos of the site */
.firstinfo{
    display: flex;
    
    width: 100%;
    height: 100%;
}
.img1{
    width: 50%;
    height: 420px;
    
    order: 1;
}
.info-inputs{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 420px;
    
}
.wrote{
    background-color: rgba(5, 165, 77, 0.938);
    padding-right: 30%;
    padding-left: 5%;
    color: white;
    font-family: vazirmatn;

}
h2{
    font-size: 33px;
    padding-top: 20px ;
    font-weight:bolder;
}
p{
    font-size: 20px;
}

.inputs{
    flex-wrap: wrap;
    background-color:rgba(5, 165, 77, 0.938);
    width: 100%;
    
    margin: 0px;
    padding-right: 30%;
    text-align: right;
    
    
}
.tel-input{
    direction: rtl;
    background-color: transparent;
    font-size: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    width: 49%;
    padding: 0%;
    
}
.send-input{
    font-family: vazirmatn;
    background-color: white;
    color: rgba(5, 165, 77, 0.938);
    font-weight: 600;
    border: none;
    height: 45px;
    width: 25%;
    border-radius: 8px;
    margin-right: 20px;
    
}
.enter-to-app{
    font-family: vazirmatn;
    background-color: rgba(5, 165, 77, 0.938);
    color: white;
    font-size: larger;
    border: 2px white solid;
    border-radius: 5px;
    height: 80%;
    width: 49%;
}
.clik-app{
    padding-right: 30%;
    padding-bottom: 2%;
    text-align: right;
    background-color: rgba(5, 165, 77, 0.938);
    width: 100%;
}

/* instal app with image and link */

.instal-img{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    /* padding: 5%; */
}
.instal-img-link{
    width: 170px;
    margin: 110px 40px;
    
}