@font-face {
    font-family: vazir;
    src: url("./../fonts/vazir.eot");
    src: url("./../fonts/vazir.ttf");
    src: url("./../fonts/vazir.woff");
    src: url("./../fonts/vazir.woff2");
}
body{
    font-family: vazir;
    margin: 0px;
    padding: 0px;
    background-color: #000000c8;
}

/* بخش منوی اول صفحه */

.header{
        
    background-color:#000000c1 ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    
}
.items{
    padding-right: 14%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    
}
.link-items{
    font-size: 100%;
    margin-left: 40px;
    text-decoration: none;
    color: #ffffff;
    font-family: vazir;

}
.logo-image{
    width: 75px;
    margin-left:15%;
    padding-right: 20%;
}

/* تصویر های پس زمینه */

.bg1-img{
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 120%;
    
}
.bg2-img{
    
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    top: 100%;
    width: 100%;
    height: 110%;
    background: url("./../images/backtwo.jpg");

}
.bg3-img{
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    top: 220%;

    width: 100%;
    height: 100%;
    
}

/* بخش اول  */

.introduction{
    margin-top: 20%;
    margin-bottom: 17.6%;
    text-align: center;
    color: white;

}
.h2{
    font-size: xx-large;
}
.p1{
    font-size: larger;
}

/* بخش دوم */

.first-info-box{
    background-color: #fff;
    font-size: small;
    display: flex;
    align-items: center;
    height: 400px;
}
.first-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
}
.p2{
    /* padding-left: 300px; */
    margin: 20px 30% 20px 4%;
    font-size: medium;
}
.love-jpg{
    padding-left: 2%;
    width: 700px;
    height: 300px;
    margin-left: 20%;
}

/* بخش سوم */

.second-info{
    text-align: center;
    height: 300px;
    padding-left: 35%;
    padding-right: 35%;
    color: #ffffff;
}
.h2-2{
    margin-top: 50px;
    font-size: xx-large;
}
.p3{
    text-align: center;
    font-size: medium;

}

/* بخش چهارم */

.cafe-menu{
    display: flex;
    align-items: center;
    height: 500px;
    background-color: #fff;
    padding-right: 0%;
}
.cafe-menu-text{
    text-align: center;
    margin-right: 200px;
}
.p4{
    width: 448px;
}
.cafe-menu-img{
    margin: 0px 200px;
}
.images-cafe-menu{
    margin: 5px;
    width: 220px;
    height: 180px;
}

/* بخش پنجم */

.slogan{
    text-align: center;
    height: 250px;
    padding-left: 35%;
    padding-right: 35%;
    color: white;
    font-size: x-large;
    
}
/* بخش ششم */

.cafe-description{
    display: flex;
    align-items: center;
    background-color: white;
    height: 350px;
}
.cafe-description-text{
    width: 540px;
    text-align: center;
    margin-right: 20%;
    /* margin-left: 5%; */

}
.cafe-description-img{
    margin-right: 2%;
    /* margin-left: 100px; */
}
.cafe-description-image{
    height: 250px;
    width: 150px;
    margin-right: 10PX;
}

/* بخش هفتم */

.connection-ways{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}
.about-us{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}
.membership-and-fallow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    
}

.membership{
    margin-left: 30%;
    margin-top: 2%;
}
#membership-email{
    height: 40px;
    outline: none;
}

/* بخش آخر */
.footer{
    margin-top: 50px;
    color: white;
    text-align: center;
    height: 200px;
}