/* style for all the page */
*{
    background-color: rgb(222, 222, 156);
    margin-right: 20px;
}
/* h1 style */
h1{
    color: saddlebrown;
    text-align: center;
    border: 4px double ;
    margin: 20px 40%;
    padding: 20px;
}
/* images styles */
.gallery{
    background-color: white;
    width: 250px;
    border-radius: 20% 0%;
    margin: 20px;

}
li{
    font-size: large;
    font-weight: 900;
    color: saddlebrown
}
.p1{
    color:black ;
    width: 800px;
    
}