@font-face {
    font-family: vazir;
    src: url("./../fonts/Vazir.ttf");
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: vazir;
}
body{
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width:1200px) {

    .ul-f-header {
        display: none;
        
    }
    nav ul li{
        margin-top: 20px;
        padding: 2% 10%;
        border-bottom: #767070 1.5px solid;
        border-radius: 5px;
    }
    
    nav{
        justify-content: space-between;
        /* flex-direction: row-reverse; */
    }
    .hmenu{
        order: -1;
        margin-left: 80%;
        padding: 1%;
        border-radius: 5px;
        cursor: pointer;
        border-bottom-color: #fff;
    }
    .hmenu span{
        width: 30px;
        height: 4px;
        background-color: rgba(5, 165, 77, 0.938);
        display: block;
        margin: 5px;
        border-radius: 3px;
    }
    .hmenu:hover {
        background: #d9d4d492;
    }
    .hmenu:hover ~ .ul-f-header{
        display: flex;
        flex-direction: column;
        width: 50% !important;
        background: rgb(183, 227, 183);
        position: absolute;
        top: 60px;
        right: 0;
        border-radius: 5px;
        
    }
    


    .img1{
        display: none;
    }
    .info-inputs{
        width:100% !important;
        flex-wrap: nowrap;
        height: fit-content  !important;
    }
    .wrote , .inputs{
        font-size: small;
        text-align: right;
        padding: 0 20% !important;
    }
    .tel-input , .send-input{
        display: none;
    }
    .enter-to-app {
        text-align: center;
    }
    .clik-app{
        padding: 3% 20% 5% 0 !important;
    }
    .snapp-icons-buttons{
        flex-direction: column;
        height: 13% !important;
        width: 29% !important;
        padding-top: 2%;
        /* margin: 0 0 3% 3% !important; */
    }
    .button-text-link{
        font-size: smaller !important;
        text-align: center;
    }
    .icon-img{
        width: 25% !important;
    }
    .facilities{
        height: 68rem;
    }

    .explains{
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vh !important;
    }
    .first-exp-img{
        width: 100% !important;

        height:55%!important;
    }
    .text-exp{
        display: block;
        width: 90% !important;
    }
    

    .images-exp-box{
        flex-direction: column;
        align-items: center;
    }
    .imagebox{
        width: 100% !important;
        text-align: center;
    }
    .imagebox img{
        border-radius: 100px !important;
        padding: 0 20% !important;
        width: 25%;
    }
    .img-text{
    margin: 0 20% 5% 20%;
    }




    .main-boxes{
        width: 80% !important;
        height: fit-content !important;
        margin-bottom: 10px !important;
    }



    .footer-images{
        display: flex;
        justify-content: center;
    }
    .footer-img{
        width: 70% !important;
    }
    .footer-nav{
        flex-wrap: wrap;
    }
    .footer-list-item{
        margin-left: 5% !important;
    }
    .img-footer-icon{
        width: 6% !important;
    }
}

@media screen and (max-width:480px) {
    .hmenu{
        margin-left: 60%;
    }
    
    .wrote , .inputs{
        font-size: small;
        text-align: right;
        padding: 0 5% !important;
    }
    .clik-app{
        font-size: medium !important;
        padding: 5% 20% 5% 0 !important;
    }
    .instal-img{
        margin-top: 7% !important;
        margin-bottom: 10% !important;
        
    }
    .first-icons-text{
        font-size: large;
        /* height: 10% !important; */
    }
    .snapp-icons-buttons{
        flex-direction: column;
        height: 12.5% !important;
        width: 29% !important;
    }
    .button-text-link{
        font-size: smaller !important;
        text-align: center;
    }

    .icon-img{
        width: 50% !important;
    }
    .facilities{
        height: 118vh;
    }
    .img-tabligh{
        width: 90% !important;
        margin: 5% 5% !important;
        border-radius: 10px !important;
    }
    .text-exp h2{
        font-size: large !important;
    }

    .imagebox{
        margin-top: 5%;
    }
    .img-text p{
        font-size: small;
    }

    .last-main-button{
        width: 30% !important;
        margin:0 35% !important;
    }
    #main-h2{
        font-size: larger !important;
    }
    #main-p{
        font-size: medium !important;
    }
    .h2-p-main p, h2{
        font-size: small !important;
    }
}


a{
    text-decoration: none;
}
/* the header of the page */
.container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: fixed;
    padding-right: 10%;
    background: white;
    width: 100%;
    height: 100px;
    z-index: 100;
    
}
nav{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    font-size: 100%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.item-link{
    color: #767070;
}



/* picture and the first infos of the site */
.firstinfo{
    display: flex;
    width: 100%;
    height: 50vh;
}
.img1{
    width: 50vw;
    height: 50vh;
    margin-top: 100px;
    
    order: 1;
}
.info-inputs{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 100%;
    
}
.wrote{
    background-color: rgba(5, 165, 77, 0.938);
    padding-right: 30%;
    padding-left: 5%;
    color: white;
    width: 100%;
    
}
h2{
    font-size: x-large;
    padding-top: 20px ;
    font-weight:bolder;
    margin-bottom: 20px;
}
p{
    font-size: medium;
}

.inputs{
    flex-wrap: wrap;
    background-color:rgba(5, 165, 77, 0.938);
    width: 100%;
    padding-right: 30%;
    text-align: right;
}
.tel-input{
    direction: rtl;
    background-color: transparent;
    font-size: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 30px;
    width: 49%;
}
.send-input{
    background-color: white;
    color: rgba(5, 165, 77, 0.938);
    font-weight: 600;
    border: none;
    height: 45px;
    width: 25%;
    border-radius: 8px;
    margin-right: 20px;
    
}
.enter-to-app{
    background-color: rgba(5, 165, 77, 0.938);
    color: white;
    font-size: larger;
    border: 1px white solid;
    border-radius: 8px;
    height: 50px;
    width: 80%;
    
}
.clik-app{
    padding-right: 30%;
    /* padding-bottom: 3.5vh; */
    text-align: right;
    background-color: rgba(5, 165, 77, 0.938);
    width: 100%;
}

/* instal app with image and link */

.instal-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 30vh;
    width: 100%;
    padding-top: 12%;
    background-color: rgb(255, 255, 255);
}
.instal-img-link{
    display: flex;
    align-items: center;
    height: 20%;
    width: 170px;
    padding-left: 30px;
}
/* icons */

.facilities{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 247, 247, 0.84);
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
}
.first-icons-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0%;
    height: 100px;

}
.button-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
    
}
.snapp-icons-buttons{
    display: flex;
    align-items: center ;
    width: 25%;
    height: 13%;
    background-color: white;
    border: none;
    border-radius: 15px;
    text-align: right;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 0px;
    text-decoration: none;
}
.icon-img{
    width: 55px;
    margin-left: 10px;
    margin-right: 10px;
}
.button-text-link{
    text-decoration: none;
    color: #333232;
    font-size: medium;
}

/* عکس تبلیغ */

.img-tabligh{
    margin: 5% 10% ;
    width: 75%;
    border-radius: 15px;
}

/* عکس ها و متن بخش توضیحات */
.explains{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:45vh;
    position: relative;
}
.first-exp-img{
    width: 49%;
    height: 50vh;
}
.text-exp{
    width: 40%;
    color: black;
    padding-right: 5%;
}
#h2-1{
    font-size: x-large;
}
#p-2{
    font-size: 90%;
    margin-left: 5%;
}

.images-exp-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    position: relative;
    bottom: 30px ;
}
.imagebox img{
    background: rgb(235,236,242);
    border-radius: 20px;
    padding: 0 10%;
}
.imagebox{
    width: 20%;
}


/* last main */
.last-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #edeeee;
    width: 100%;
    height: fit-content;
    
}
.text-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
}
#main-h2{
    margin-bottom: 10px;
    color: #333232;
}
#main-p{
    margin-bottom: 15px;
    font-size: larger;
    color: #5a5656;

}
.last-main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 45px;
    margin: 1% 40%;
    background-color: rgba(5, 165, 77, 0.938);
    color: white;
    border-radius: 5px;
    border: none;
}
.main-video{
    
    width: 70%;
    border-radius: 20px;
}

.last-main-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3%;
    
}
.main-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1% 1% ;
    padding: 3%;
    width: 33%;
    height: 23%;
    border-radius: 20px;
}
.last-main-images{
    width: 30%;
}
.p-mainbox{
    color: #767070;
}
.h2-mainbox{
    color: #5a5656;
}
.h2-p-main{
    text-align: right;
    font-size: x-small;

}

/* footer */
.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 10%;
}

.footer-list-item{
    list-style: none;
    font-size: medium;
}
.footer-list-link{
    text-decoration: none;
    color: #333232;
}
.footer-list-link:hover{
    color: rgb(70, 123, 70);
}

/* footer icons */
.footer-app-icones{
    margin-top: 2%;
    text-align: center;
    width: 100%;
    height: 10vh;

}

.img-footer-icon{
    width: 2%;
}



